* { margin: 0; padding: 0;}

html{
    overflow: hidden;
    height: 100%; 
    background:#eeeeee;
}
body{
    overflow: auto;
    height:100vh; /* This is needed to overcome a Chrome bug. */
    background:#eeeeee;
}

a{
  color:#333;
  text-decoration: none;
  -o-transition:color .5s ease-out, color .2s;
  -ms-transition:color .5s ease-out, color .2s;
  -moz-transition:color .5s ease-out, color .2s;
  -webkit-transition:color .5s ease-out, color .2s;
  transition:color .5s ease-out, color .2s;
}

a:hover{ 
	color:#2F98E4; 
}

.cardpub {
	background-color: #fff;
	box-shadow:0 2px 2px #aaa;
	cellspacing:5;
	border-left: 5px solid #0277bd;
	width:100%;
	table-layout: fixed;
	position: relative;
  	color:#333;
  	font-size:90%;
   	transition: 1s;
}

.cardconf {
	background-color: #fff;
	box-shadow:0 2px 2px #aaa;
	cellspacing:5;
	border-left: 5px solid #424242;
	width:100%;
	table-layout: fixed;
	position: relative;
  	color:#333;
  	font-size:90%;
   	transition: 1s;
}

.cardpub:hover, .cardconf:hover, .span_1_of_2:hover{
	box-shadow:0 3px 2px #666;
}

.authorpub {
	position:absolute;
	transform: rotate(270deg);
	top:19px;
	left:-38px;
	font-size:90%;
	background-color:#0277bd;
	padding:3px;
	color:white;
}

.authorconf {
	position:absolute;
	transform: rotate(270deg);
	top:19px;
	left:-38px;
	font-size:90%;
	background-color:#424242;
	padding:3px;
	color:white;
}

/*  SECTIONS  */
.section {
	clear: both;
	margin-left: 10%;
	margin-right: 10%;
	color:#555; 
	font-family: 'Arial',sans-serif;
	overflow: hidden;
}

/*  COLUMN SETUP  */
.col {
	display: table-cell;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 42%;
	padding-right:3%;
	padding-left:3%;
	display: table-cell;
	overflow: auto;
}

.span_1_of_2 {
	width: 42%;
	background-color: #fff;
	box-shadow:0 2px 2px #aaa;
	padding:3%;
	display: table-cell;
  	transition: 1s;
}

.span_4_of_4 {
	vertical-align: middle!important;
	width: 60%;
	color:#333;
	margin-left:12px;
}
.span_3_of_4 {
	width: 32%;
	color:#fff;
	padding:0%;
	display: table-cell;
	text-align: left;
	font-size: 90%;
}

/*  GO FULL WIDTH AT LESS THAN 1100 PIXELS */

@media only screen and (max-width: 1100px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 1100px) {
	.span_2_of_2, .span_1_of_2 { width: 93%;}
}

@media only screen and (max-width: 1100px) {
	.span_3_of_4, .span_4_of_4 { width: 93%; text-align: center;}
}

@media (max-width: 1100px) {
	.navtext { display: none; }
}

@media (min-width: 1100px) {
	.dropdown { display: none; }
}

.menu:target{display:;}

/* Circular Divs */

.circleBase {
    border-radius: 50%;
    /*behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type1 {
    width: 125px;
    height: 125px;
	background: url("pablo d enrique 2.jpg");
	background-size:cover;
	background-position: center;
	margin:0 auto;
}

@-webkit-keyframes swing
{
	0%
    {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@keyframes swing
{
	0%
    {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}